{% extends 'blog/base.html' %}
{% block navbar %}
    <div>
        {% for post in posts %}
           <div class="center-column">
            <div class="row">
                <div class="col-md-12">
                    <h4><a href="{% url 'post-details' post.id %}">{{ post.title }}</a></h4>
                    <a href="{% url 'post-details' post.id %}"><img src="{{ post.image.url }}" width="100%"/></a>
                    <h6>Posted by: {{ post.author }}</h6>
                    <small>Posted on: {{ post.date_posted }}</small>
                    <p>{{ post.content }}</p>
                </div>
            </div>
           </div>
        {% endfor %}
    </div>
{% endblock navbar %}