{% extends 'blog/base.html' %}
{% block navbar %}
    <div class="center-column">
        <form method="post" action="">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete</legend>
                <h2>Are you sure?</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes</button>
                <a class="btn btn-outline-secondary" href="{% url 'post-details' object.id %}">No</a>
            </div>
        </form>
    </div>
{% endblock navbar %}