{% extends 'blog/base.html' %}
{% block navbar %}
    <div class="center-column">
        <div class="row">
            <div class="col-md-12">
                <h4>{{ object.title }}</h4>
                <img src="{{ object.image.url }}" width="100%" alt="post_photo"/>
                <h6>Posted by: {{ object.author }}</h6>
                <small>Posted on: {{ object.date_posted }}</small>
                <p>{{ object.content }}</p>
                {% if object.author == user %}
                    <a class="btn btn-sm btn-info" href="{% url 'post-update' object.id %}">Update</a>
                    <a class="btn btn-sm btn-danger" href="{% url 'post-delete' object.id %}">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock navbar %}