{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block navbar %}
    <div class="center-column">
        <form method="post" enctype="multipart/form-data" action="">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">New Post</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock navbar %}