{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block navbar %}
    <div class="center-column">
        <form method="post" action="">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Најави се</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign in</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">You need an account? <a class="ml-2" href="{% url 'register' %}">Sign up</a></small>
        </div>
    </div>
{% endblock navbar %}